rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Expedientes de Pasaporte (Lectura, Creación y Edición Notarial)
    match /caribbe_solicitudes_pasaporte/{document} {
      allow read, create, update, delete: if true;
    }

    // Citas Agendadas (Lectura, Creación y Edición Notarial)
    match /caribbe_citas_agendadas/{document} {
      allow read, create, update, delete: if true;
    }

    // Directorio de Clientes
    match /caribbe_clientes/{document} {
      allow read, create, update, delete: if true;
    }

    // Métricas de Visitas
    match /caribbe_visitas/{document} {
      allow read, create, update, delete: if true;
    }

    // Configuración CMS (Gestor de Tema, Precios y FAQs)
    match /caribbe_cms_settings/{document} {
      allow read, create, update, delete: if true;
    }

    // Base de Conocimiento de IA
    match /caribbe_ai_kb/{document} {
      allow read, create, update, delete: if true;
    }

  }
}
